<div [ngClass]="{'hide' : scroller, 'show' : !scroller}">

  <section >
    <div class="wrapper">
      <div class="logos linea">STAR Line: <section class="cellphone-container"><span class="material-icons">
            phone
          </span>
          <p> 12-345-6789</p>
        </section>
        <section class="whats-container">
          <span class="material-icons">
            whatsapp
            </span>
            <p> whatsapp</p>
        </section>
      </div>
  
      <nav>
      <section class="empresa-container">
        <span class="material-icons">
          business
          </span>
          <p> Empresas</p>
      </section>
      <section class="empresa-container">
        <span class="material-icons">
          person
          </span>
          <p> Usuarios</p>
      </section>
      </nav>
    </div>
  </section>
  
  <section  class="header_seccion">
    <div class="wrapper">
      <div class="logos">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/S.T.A.R._Labs_logo.svg/1200px-S.T.A.R._Labs_logo.svg.png" alt="">
      </div>
  
      <nav>
        <a href="#">Estudios</a>
        <a href="#">Resultados</a>
        <a href="#">Sucursales</a>
        <a href="#">Facturacion</a>
        <a href="#">Empresas</a>
        <a href="#">Contacto</a>
        <span class="material-icons">
          search
          </span>
      </nav>
    </div>
  </section>
</div>